/* css styles */
.quarto-footer {
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    color: #555;
}

.slide-deck {
    width: 100%;
    border: 2px solid rgb(186, 186, 186);
    border-radius: 15px;
}