.section-grey {
    background-color: #f6f6f6;
    padding: 10px;
}

a {
    color: #187edc;
    /* Replace with your desired link color */
}

a:hover {
    color: #0b61c4;
    /* Replace with your desired hover color */
}

p {
    font-family: 'Helvetica', sans-serif;
    color: #333333;
}

h2 {
    color: #325d88;
}