.reveal {
    background-color: #f6f6f6;
}

.reveal a {
    color: #187edc;
    /* Replace with your desired link color */
}

.reveal a:hover {
    color: #0b61c4;
    /* Replace with your desired hover color */
}

.reveal p {
    font-family: 'Helvetica', sans-serif;
    color: #333333;
    /* Dark grey color */
    /* Replace with your desired font family */
}